[submodule "bundle/syntax"]
	path = bundle/syntax
	url = https://github.com/octol/vim-cpp-enhanced-highlight.git
[submodule "bundle/OpenCL-C-syntax-highlighting"]
	path = bundle/OpenCL-C-syntax-highlighting
	url = https://github.com/vim-scripts/OpenCL-C-syntax-highlighting
